. {
    errors
    health
    mdns {{ .Infra.Status.EtcdDiscoveryDomain }} {{`{{.Cluster.MasterAmount}}`}} {{`{{.Cluster.Name}}`}}
    forward . {{`{{- range $upstream := .DNSUpstreams}} {{$upstream}}{{- end}}`}}
    cache 30
    reload
    hosts /etc/coredns/api-int.hosts $DOMAIN {
        {{ .Infra.Status.PlatformStatus.OpenStack.APIServerInternalIP }} api-int.{{ .Infra.Status.EtcdDiscoveryDomain }}
        fallthrough
    }
}